@import "./components/Header/Header.css";
@import "./components/ProductCard/ProductCard.css";
@import "./components/Categories/Categories.css";

:root {
    --main_color: #DB3727;
    --text_header_color: white;
    --text_spec_color: darkgray;
    --text_carSpec_color: black;
}

body {
    font-family: Arial, sans-serif;
}
