@import "./components/Header/Header.css";
@import "./components/ProductCard/ProductCard.css";
@import "./components/Categories/Categories.css";
@import "./components/CarSheet/CarSheet.css";
@import './components/loader/loader.css';

:root {
    --main-color: #DB3727;
    --text-header-color: white;
    --text-spec-color: darkgray;
    --text-car-spec-color: black;
    --background-color-number: #36B555;
}

body {
    font-family: Arial, sans-serif;
}

.error-container-error-status__p {
    font-size: 30px;
    font-weight: 900;
    color: var(--text-spec-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.error-container-error-text__p{
    color: var(--text-spec-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
