.productCard {
    display: flex;
    margin: 10px;
    border-top: var(--text-spec-color) solid 2px;
}

.productCard__imageContainer {
    height: 200px;
    width: 270px;
    padding-top: 10px;
    border-radius: 20px;
}


.productCard__imageContainer__photo {
    width: 100%;
    object-fit:cover;
    min-width: 200px;
}

.productCard__carSpec__main {
    display: flex;
    padding-top: 10px;
    font-size: 20px;
}

.productCard__carSpec {
    margin-top: 10px;
    margin-left: 10px;
}

.productCard__carSpec_headText {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
}

.productCard__carSpec__main__specifications {
    color: var(--text-spec-color);
    margin-top: 10px;
    width: 300px;
}

.productCard__carSpec__main__price {
    color: var(--text-car-spec-color);
    padding-top: 10px;
    margin-left: 6em;
}

.productCard__carSpec__main_year {
    color: var(--text-car-spec-color);
    padding-top: 10px;
    margin-left: 6em;
}

.productCard__carSpec__main__mileage {
    color: var(--text-car-spec-color);
    padding-top: 10px;
    margin-left: 6em;
}

.productCard__carSpec_headText__link {
    text-decoration: none;
}

.productCard__carSpec_headText__link:visited {
    color: var(--text-car-spec-color);
}

.productCard__carSpec_headText__link:hover {
    font-size: 21px;
}

.productCard__carSpec_headText__link:link{
    color: var(--text-car-spec-color);
}

@media (max-width: 1024px), (orientation: portrait) {
    .productCard__carSpec__main__price {
        margin-left: -0.1em;
        font-size: 30px;
    }

    .productCard__carSpec__main_year {
        margin-left: -0.1em;
        font-size: 30px;
    }

    .productCard__carSpec__main__mileage {
        margin-left: -0.1em;
        font-size: 30px;
    }

    .productCard__carSpec__main {
        flex-direction: column;
    }

    .productCard__carSpec__main__specifications {
        font-size: 30px;
    }

    .productCard__carSpec_headText{
        font-size: 35px;
    }

    .productCard__imageContainer {
        height: 300px;
        width: 375px;

    }
}

