.carSheetContainer{
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.carSheetContainer__headerCar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.headerCar__carNameDiv{
    width: 600px;
}

.headerCar__price{
    font-size: 30px;
    font-weight: 900;
}

.carSheetContainer__owner {
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    border-radius: 5px;
}

.owner__data {
    border: var(--text-spec-color) solid 2px;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    font-weight: 900;
    width: 440px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owner__messeage{
    border-top: var(--text-spec-color) solid 2px;
    border-bottom: var(--text-spec-color) solid 2px;
    font-size: 20px;
    font-weight: 900;
    width: 135px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owner__number {
    border: var(--background-color-number) solid 2px;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    font-weight: 900;
    width: 200px;
    height: 80px;
    background-color: var(--background-color-number);
    color: var(--text-header-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carSheetContainer__carSpecAndIMG {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carSpecAndIMG__allspec{
    width: 300px;
    font-size: 20px;
    font-weight: 600;
}

.carSpecAndIMG__img{
    width: 450px;
    height: 350px;
}

.carSpecAndIMG__img__carImg {
    width: 100%;
    object-fit:cover;
}

.carSheetContainer__sellerComment {
    margin-top: 20px;
}

.sellerComment__header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sellerComment__text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1024px), (orientation: portrait) {
    .carSheetContainer__headerCar{
        flex-direction: column;
    }
    .owner__messeage{
        display: none;
    }
    .carSheetContainer__carSpecAndIMG{
        flex-direction: column-reverse;
    }
    .headerCar__price{
        width: 600px;
    }

    .sellerComment__header{
        font-size: 30px;
    }
    .sellerComment__text{
        font-size: 25px;
    }
    .carSpecAndIMG__allspec{
        font-size: 25px;
    }

}
