<div class="categories" id="categories">
    <div class="categories__category">{{passengerCars}}</div>
    <div class="categories__category">{{commercialCars}}</div>
    <div class="categories__category">{{motorcyclesCars}}</div>
    <div class="categories__category">{{electricCars}}</div>
</div>
